.option-wrapper{
    width: 100%;
    min-height: 160px;
    border-bottom: 1px solid white;
}

.option-wrapper:hover{
    background-color: rgba(139, 139, 139, 0.2);
}

.answer-image{
    width: 25%;
    box-sizing: border-box;
}

.answer-image div{
    width: 93px;
    height: 93px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: .1s ease all;
}

.left-wrapper div{
    box-sizing: border-box;
}
.answer-delete{
    cursor: pointer;
    width: 30%;
}

.answer-text{
    width: 35%;
    color: white;
    font-size: 20pt;
}

@media screen and (max-width: 1152px), screen and (max-height: 1152px) {
    .answer-image{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .answer-image div{
        width: 119px;
        height: 119px;
    }

    .answer-text{
        font-size: 55pt;
    }

    .answer-text{
        width: 45%;
    }

    .answer-delete{
        width: 20%;
    }
}
